.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input input[type="number"] {
  -moz-appearance: textfield;
}

/* Remove hover effect */
.input input:hover {
  /* Add your hover styles here or set to none to remove the hover effect */
}

.input input:focus {
  outline: none; /* Remove the default focus outline */
}
